@using DevIO.AppMvc.Extensions
@model IEnumerable<DevIO.AppMvc.ViewModels.ProdutoViewModel>

@{
    ViewBag.Title = "Lista de Produtos";
}

<h1><b>@ViewBag.Title</b></h1>
<hr />

@*Validação por componente*@
@*O PermitirExibicao é via WebViewPage *@

@{
    if (this.PermitirExibicao("Produto", "Adicionar"))
    {
        <p>
            <a class="btn btn-info" href="@Url.Action("Create", "Produtos")">
                Novo Produto
            </a>
        </p>
    }
}

@Html.Partial("_ListaProdutos")